.rangeslider, .rangeslider * {
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rangeslider {
  position: relative;
}

.rangeslider-range-background {
  position: relative;
  margin: 10px 25px;

  border: 1px black solid;
  border-radius: 3px;
  height: 10px;
  overflow: visible;
  z-index: 0;
}

.rangeslider-ruler, .rangeslider-ruler li {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
}

.rangeslider-ruler li {
  width: 1px;
  height: 4px;
  background-color: black;
}

.rangeslider-ruler li:nth-child(3n) {
  width: 1px;
  height: 5px;
  background-color: black;
}

.rangeslider-ruler li:nth-child(12n) {
  width: 1px;
  height: 8px;
  background-color: black;
}

.rangeslider-range-knob {
  position: absolute;
  margin-top: -6px;
  margin-left: -6px;
  /*border: 1px black solid;*/
  /*border-radius: 3px;*/
  /*background-color: white;*/
  height: 20px;
  width: 11px;
  display: inline-block;
  z-index: 2;
  cursor: ew-resize;
}

.rangeslider-range-between-knobs {
  position: absolute;
  margin: 0;
  height: 8px;
  background-color: rgba(220, 20, 60, 0.4);
  z-index: 1;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.rangeslider-yearmarker-container {
  margin: 10px 25px;
}

.rangeslider-yearmarker {
  position: absolute;
  margin-left: 25px;
  display: inline;
}

.rangeslider-time-events {
  position: absolute;
  left: 25px;
  right: 25px;
  padding: 0;
}

.rangeslider-time-events li {
  margin: 0;
  position: absolute;
  list-style: none;
  display: inline;
  font-size: 12px;
}