.rangeslider, .rangeslider * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.rangeslider {
  position: relative;
  padding: 0 25px;
  width: 100%;
}

.rangeslider-yearmarkers {
  padding-top: 5px;
  position: relative;
  width: 100%;
  height: 25px;
  margin-bottom: 5px;
}

.rangeslider-yearmarkers div {
  position: absolute;
  display: inline;
  font-size: 14px;
}

.rangeslider-feature-icons {
  margin: 0;
  padding: 0;
}

.rangeslider-feature-icons img {
  position: absolute;
  bottom: 21px; /* size of range background and arrows */
}

.rangeslider-feature-icons img:hover {
  cursor: pointer;
  z-index: 2;
}

.rangeslider-feature-highlight-icon {
  position: absolute;
  margin-left: 25px; /* compensate missing padding */
  bottom: 21px; /* size of range background and arrows */
  z-index: 4;
}

.rangeslider-range-background {
  position: relative;
  width: 100%;
  border: 1px black solid;
  border-radius: 3px;
  height: 10px;
  overflow: visible;
  z-index: 1;
}

.rangeslider-ruler {
  position: relative;
  width: 100%;
}

.rangeslider-ruler li {
  position: absolute;
  list-style: none;
  display: inline-block;
}

.rangeslider-ruler li {
  width: 1px;
  background-color: black;
}

.rangeslider-ruler-year {
  height: 8px;
}

.rangeslider-ruler-quarter {
  height: 5px;
}

.rangeslider-ruler-month {
  height: 4px;
}

.rangeslider-range-knob {
  position: absolute;
  /* image size */
  height: 20px;
  width: 11px;
  /* focus */
  margin-top: -6px;
  margin-left: -6px;
  display: inline-block;
  z-index: 4;
  cursor: ew-resize;
}

.rangeslider-range-between-knobs {
  position: absolute;
  height: 8px;
  background-color: rgba(220, 20, 60, 0.4);
  z-index: 2;
  cursor: -webkit-grab;
  cursor: -moz-grab;
  cursor: grab;
}

.rangeslider-feature-range {
  position: absolute;
  height: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 3;
  pointer-events: none;
}

.rangeslider-event-arrows {
  position: relative;
  width: 100%;
  height: 11px;
  z-index: 0;
}

.rangeslider-event-arrows img {
  position: absolute;
  display: inline;
  /* image size */
  width: 11px;
  height: 11px;
  /* focus */
  margin-left: -6px;
}

.rangeslider-event-texts {
  position: relative;
  width: 100%;
}

.rangeslider-event-texts li {
  position: absolute;
  list-style: none;
  display: inline;
  font-size: 12px;
  white-space: nowrap;
}