* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#page-container {
  width: 100%;
  height: 100%;
  margin: 0;
}

.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#left-panel {
  margin: 0;
  padding: 10px;
  width: 400px;
  float: left;
  height: calc(100% - 150px);
  /*display: inline-block;*/
  overflow-y: auto;
}

#map {
  margin: 0;
  margin-left: 400px;
  /*width: calc(100% - 250px);*/
  height: calc(100% - 150px);
  /*display: inline;*/
}

#left-panel.hidden + #map {
  margin-left: 0;
}

#footer {
  height: 150px;
  margin: 0;
}

.hidden {
  display: none;
}

.toggle-panel-button {
  margin-left: -1px;
  padding: 0;
  position: absolute;
  top: 250px;
  width: 18px;
  height: 50px;
  z-index: 1;
}

#left-panel-show-button {
  left: 0;
}

#left-panel-hide-button {
  left: 400px;
}
