* {
  box-sizing: border-box;
  font-family: sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: absolute;
}

.navbar {
  padding-bottom: 0;
  padding-top: 5px;
}

.tab-content {
  position: relative;
  width: 100%;
  margin: 0;
}

#karte-tab {
  width: 100%;
  height: 100%;
  margin: 0;
}

.grabbing {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#left-panel {
  margin: 0;
  padding: 0;
  width: 33%;
  float: left;
  height: calc(100% - 100px);
  /*display: inline-block;*/
}

#layer-selection {
  height: 100px;
  width: 100%;
  margin: 0;
}

#details {
  margin: 0;
  height: calc(100% - 115px);
  overflow-y: auto;
}

#map {
  margin: 0;
  margin-left: 33%;
  height: calc(100% - 100px);
}

#left-panel.hidden + #map {
  margin-left: 0;
}

@media screen and ( max-width: 900px ){
  #left-panel {
    width: 300px;
  }
  #map {
    margin-left: 300px;
  }
  #left-panel-hide-button {
    left: 300px;
  }
}

#footer {
  height: 100px;
  margin: 0;
}

#footer-background {
  background-color: #f7f7f7;
  position: absolute;
  top: calc(100% - 100px);
  left: -15px;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.hidden {
  display: none;
}

.toggle-panel-button {
  margin-left: -1px;
  padding: 0;
  position: absolute;
  top: 250px;
  width: 18px;
  height: 50px;
  z-index: 1;
}

#left-panel-show-button {
  left: 0;
}

#left-panel-hide-button {
  left: 33%;
}
